#contents {
    text-align: left;
    padding: 0px 0px 15px 0px;
    width: 630px;
    float: left;
    margin-left: 20%;
}

.line-chart {
    width:445px;
    float:left;
}

.pi-chart {
    width:155px;
    float:left;
    height: 240px;

}
.ct-chart-pi{
    width:115px;
}
.pi-chart2 {
    width: 140px;
    height: 140px;
    display:inline-block;  

}


.line-chart2 {
    display:inline-block;

}
table {
    margin: 0px;
}
td {
        font-family: arial,helvetica,sans-serif;
    font-size: 13px;
    color: #000;
}

.result_section #panel {
    min-width: 575px;
}
.verybigtext {
    font-size: 20px;

}
.verybigtext b{

    font-weight: bold;
}

h2 {
    font-size: 14pt;
    font-weight: bold;
    color: #044284;
    padding: 0;
    margin-bottom: 2px;
}
input[type=text], input[type=url], input[type=tel], input[type=number], input[type=color], input[type=email], select {
    border: 1px solid #044284;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #666;
    text-align: right;
}
.innormal {
    text-align: right;
    width: 75px;
}
.indollar {
    background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAALCAMAAACETmeaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEhQTFRFAABjAGO1jdr/ADSN2tqNjWMAAAA0tf/a2rVjNAA0NABjtf//jdrajTQA2o002v///9qN2v/a/7Vj///aY7X/jWONAAAA////1NJtygAAAEZJREFUeNo0jFsOgCAMBNe3goIg7d7/prYYvyabySxYVbUR93HKHCLqVCTTdtg6mVwb+ciC2FmuhjR89G5fR/w/7q17BRgA4kQFMgIQvhcAAAAASUVORK5CYII=') 2px center no-repeat;
    padding-left: 10px;
}
.inpct {
    background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAKCAMAAABYMCT2AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADlQTFRFADSN2o00NDSN///aAGO1tWMAjTQ0jTQA2v//NABjtf//YwA0//+1/7Vjjdr/Y7X//9qNAAAA////Cp6lSgAAAFFJREFUeNpEjEsSgCAMQ6ug4qcCuf9hTYozdLroS5oYlt4r0M4LgD3361awUSFR1K4F0xsWLHK/ReKko3p0BXnmv1pFaddJIcgzpicRI/cJMADmxQcRmZiOPQAAAABJRU5ErkJggg==') right center no-repeat;
    padding-right: 14px;
}

button {
    width: 95px;
    height: 29px;
    background-color: #f00;
    color: #fff;
    border-radius: 19px;
}
.panel {
    background: #eee;
    border: solid 1px #ccc;
    padding: 5px;
    border-radius: 3px;
}

.verybigtext font {
    color : black;
}
.verybigtext font.green {
    color : green;
}
.verybigtext font.red {
    color : red;
}
.ct-chart-pie text.ct-label {
    fill : white;
}
.in4char {
    text-align: right;
    width: 50px;
}
.data-container {
    width: 80px;
    height: 40px;
    border: solid 1px #000;
    border-radius: 6px;
    background-color: #FCFFC5;
    position: absolute;
    transform: translate(401%, 58%);
}

.leftchart {
    padding-top: 10px;
    width: 445px;
    float: left;
}
.rightpie {
    padding-top: 10px;
    width: 155px;
    float: right;
}
h1 {
    color: #930;
    font-size: 17pt;
    font-weight: bold;
    padding: 0;
    margin: 12px 0;
}